navbar{
    display: grid;
    width: 100%;
    height: 100px;

    background-color: coral;
    grid-template-areas: 'logo navbar';
    grid-template-columns: 75% 25%;
}


navbar .logo{
    grid-area: logo;
    list-style-type: none;
    padding: 20px;
}
navbar ul{
    grid-area: navbar;

}
navbar ul li{
    display: inline-block;
    margin-right: 1rem;
}

