.imgLine img{
    display: block;
    margin: 30px auto;
}

.menuMainText h2{
    text-align: center;
    font-size: 30px;
    margin-top: 70px;
    color: darkslategrey;
}

.MenuListFormForFilter{
    text-align: center;
    padding: 10px;
}

.MenuListFormForFilter .ListRadioButton input{
    margin: 20px;
}
